/* div#calendar {width: 602px;}
div#calendar {width: 80%;} */
div#calendar{
    margin:0px auto;
    padding:0px;
    width: 100%;
    font-family:Helvetica, "Times New Roman", Times, serif;
}

/* div#calendar div.box{width: 100%;} */
div#calendar div.box{
    position:relative;
    top:0px;
    left:0px;
    width:100%;
    height:40px;
    background-color:   #787878 ;
}

/* div#calendar div.header{width: 97%;}
div#calendar div.header{width: 582px;} */
div#calendar div.header{
    line-height:40px;
    vertical-align:middle;
    position:absolute;
    left:11px;
    top:0px;
    width:97%;
    height:40px;
    text-align:center;
}

div#calendar div.header a.prev,div#calendar div.header a.next{
    position:absolute;
    top:0px;
    height: 17px;
    display:block;
    cursor:pointer;
    text-decoration:none;
    color:#FFF;
}

div#calendar div.header span.title{
    color:#FFF;
    font-size:18px;
}


div#calendar div.header a.prev{
    left:0px;
}

div#calendar div.header a.next{
    right:0px;
}




/*******************************Calendar Content Cells*********************************/
div#calendar ul.label {
    float: left;
    margin: 5px 0 0 5px;
    padding: 0;
    width: 107%;
}
div#calendar div.box-content{
    border:1px solid #787878 ;
    border-top:none;
}

/* div#calendar ul.label {width: 100%;} */
/* div#calendar ul.label{
    float:left;
    margin: 0px;
    padding: 0px;
    margin-top:5px;
    margin-left: 5px;
    width: 100%;
} */

/* div#calendar ul.label li{width: 13%;}
div#calendar ul.label li{width: 80px;} */
div#calendar ul.label li{
    margin:0px;
    padding:0px;
    margin-right:5px;
    float:left;
    list-style-type:none;
    width:13%;
    height:40px;
    line-height:40px;
    vertical-align:middle;
    text-align:center;
    color:#000;
    font-size: 15px;
    background-color: transparent;
}

/* div#calendar ul.dates {width: 98%;} */
div#calendar ul.dates{
    float:left;
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 106%;
}

/** overall width = width+padding-right**/
/* div#calendar ul.dates li {width: 14%;}
div#calendar ul.dates li {width: 80px;} */
div#calendar ul.dates li{
    margin:0px;
    padding:0px;
    margin-right:5px;
    margin-top: 5px;
    line-height:80px;
    vertical-align:middle;
    float:left;
    list-style-type:none;
    width:13%;
    height:80px;
    font-size:25px;
    background-color: #DDD;
    color:#000;
    /* text-align:center; */
}
div#calendar ul.dates li.today{
    color: red;
    background-color: chartreuse;
}



:focus{
    outline:none;
}

div.clear{
    clear:both;
}

/* div#calendar ul.label li{width: 13%;} */
/* div#calendar div.header{width: 97%;} */
/* div#calendar div.box{width: 100%;} */
/* div#calendar {width: 80%;} */
/* div#calendar ul.label {width: 100%;} */
/* div#calendar ul.dates {width: 98%;} */
/* div#calendar{width: 80%;} */
/* div#calendar ul.dates li {padding: 0 8px 4px 0;}
div#calendar ul.dates {width: 100%;}
div#calendar ul.label li {padding: 0px 8px 0 0;} */

/* div#calendar ul.label{width: 105%;} */

.showTitle {
    font-size: 15px;
    line-height: 15px;
    margin-top: 5px;
    margin-left: 5px;
}
.today-btn{
    margin-top: 50px;
   /*  padding-top: 35px; */
}
.add-event{
    margin-top: 50px;
}

.celcontnt a{
    color: #000 !important;
}
.celcontnt a:hover{
    color: #381349 !important;
    background-color: #5cd7e1 !important;
}
