<html>
<head>
<style>

body {
    background-color:		#B8860B;
  /*  background-image: url("3.jpg");*/
    font color: black;
}

td{

	font-size: 120%;
	color: black;
	
	
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #2F4F4F;
    overflow: hidden;
   	padding-right: 100px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #8FBC8F;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}



div{
	

	font-size: 150%; 
	color: black;
}
.name{
		font-size: 500%;
		color: #F5FFFA;
		text-align: center;
		
		
	}

.Desc{
	font-size: 150%;
	color: #483D8B	;
	text-align: left;
	background-color: #EEE8AA; 

	
}





.Description{
		font-size: 100%;
		/*border-style: solid;*/
		margin: auto;
		color: #008080	;
		/*height: 25%;*/
		width: 100%;
		background-color: #EEE8AA; 
		text-align: left;
	}


.moduleName{
	
	border-color: #FFFFFF;
	margin: 20px;
	text-align: center;
	color: 	#483D8B	;
	font-size: 80%;
	
}
.content{
	border-style: solid;
	border-color: #6495ED;
	font-size: 40%;
	color: 006400;
	height: 40%;
	width:90%;
	margin: 20px;
	text-align: center;
}


  .contact{
  	float: bottom;
  	text-align: center;
  }
.a{
	color: #B8860B;
}

.mail{
background-color: #EEE8AA;
font-size: 40%;
text-align: center;
color: blue;
}
 
.bottom{
	background-color: #EEE8AA;
	font-size: 30%;
	text-align: center;

}

.date{
	color: darkblue;
	background-color: #EEE8AA;
	text-align: center;
}

#page-wrap {
     width: 1000px;
     margin: 100px auto;
    /* border: 1px solid;*/
    /* background-color: yellow;*/
}

#leftContent {
  float:left;
  width: 50%;
background-color: #EEE8AA;
 /* background-color: #E4E4E4;*/
 }

 #rightContent {
   float: right;
   width: 50%;
   background-color: #EEE8AA;
   
  }
   
 


</style>
</head>
<body>