.float-right{
	float: right;
}
.float-left{
	float: left;
}
.float-center{
	text-align: center;
}

header form{
	float: right;
}
.search{
	margin-top: 50px;
	float: left;
	clear: both;
	width: 50%;
	margin-bottom: 10px;
}
.search input[type='text']{
	width: 48%;
	margin-right: 10px;
}
.search input[type='button']{
}
.filter{
	margin-bottom: 10px;
	float: right;
	margin-top: 50px;
	width: 50%;
	text-align: right;
}
.filter input[type='button']{
	margin-left: 10px;
}
.calender-wrap{
	clear: both;
	margin-top: 0px;
}
/* .controll .prev{
	float: left;
	width: 33.33%;
	margin-top: 14px;
}
.controll .next{
	float: right;
	width: 33.33%;
	text-align: right;
	margin-top: 14px;
} */
.controll h3 {
	text-align: center;
	float: left;
	width: 33.33%;
}
.calender {
	clear: both;
}
.month .days {
	border: 1px solid #ccc;
	display: table;
	width: 100%;
}
.month .days h5{
	float: left;
	text-align: center;
	width: 14.38%;
	margin: 0 -1px;
	padding: 10px 0;
}
.month .days h5:not(:last-of-type){
	border-right: 1px solid #ccc;
}
.dates-wrap{
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	display: table;
	width: 100%;
}
.date{
	float: left;
	text-align: center;
	width: 14.38%;
	margin: 0 -1px;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}
.date:not(:nth-child(7n)){
	border-right: 1px solid #ccc;
}
.weeks{
	width: 100%;
}
.weeks td{
	padding: 20px;
}
.weeks td:first-child{
	width: 25%;
	border: 1px solid #ccc;
}
.weeks td:last-child{
	width: 75%;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.fillter-home{
	text-align: center;
}
button{
	cursor: pointer;
}
.tab-container .content{
	display: none;
}
.tab-container .content.active{
	display: block;
}
.text-center{
	text-align: center;
}
form{
	margin-bottom: 0;
	padding-bottom: 0;
}

.calender .weeks strong .margin5{
		margin-left: 5em;
		padding-left: 5em;
}
.next-week{
	margin-bottom: 5px;
}
.next-pre{
	display: inline;
}
.color{
	background-color: #7FFF00 !important;
	color: #FF0000 !important;
}
.default{
	background-color: #DDDDDD;
}
.weeks td .cell{
	/* margin: 5px 5px 5px 5px; */
	margin: 5px 5px 0 0 !important;
	padding: 5px 5px 5px 5px;
}

form label input{
	/* width: 300px; */
}

 .add-event-form input[type=text]{
      /* width:200%; */
      box-sizing:border-box;
    }
 .container{
 	padding-bottom: 50px;
 }

 .show{
 	padding-bottom: 100px;
 	padding-left: 150px;
 }
 .home-btn a{
 	margin: 50px 100px;
 }
 .next-pre{
 	background-color: #2a2a2a;
 	display: table;
 	width: 100%;
 	padding: 15px;
 }
 .next-pre a{
 	color: #fff;
 }
 .single-event{
 	width: 450px;
 	margin: 0 auto;
 	font-size: 20px;
 	line-height: 2;
 }